@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  -webkit-tap-highlight-color: transparent;
}

/* Safe area для iPhone */
@supports (padding-bottom: env(safe-area-inset-bottom)) {
  .safe-area-bottom {
    padding-bottom: calc(env(safe-area-inset-bottom) + 1rem);
  }
}
